<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WACCTV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <probing privatePath="lib" />
         <dependentAssembly>
            <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
            <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
         </dependentAssembly>
      </assemblyBinding>
    </runtime>
    <userSettings>
        <WACCTV.Properties.Settings>
            <setting name="cameraDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="cameraResolution" serializeAs="String">
                <value />
            </setting>
            <setting name="targetDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="recordingFrameRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="zoomMode" serializeAs="String">
                <value>Zoom</value>
            </setting>
            <setting name="listeningInterfaces" serializeAs="String">
                <value>localhost:8080</value>
            </setting>
            <setting name="webUsername" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="webPassword" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="enableWebServer" serializeAs="String">
                <value>False</value>
            </setting>
        </WACCTV.Properties.Settings>
    </userSettings>
</configuration>